<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:c="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      xmlns:video="http://typo3.org/ns/Hn/Video/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="Main">
    <table class="table">
        <thead>
            <tr>
                <th style="width: 12em">create date</th>
                <th style="width: 6em">status</th>
                <th>file</th>
                <th>configuration</th>
                <th style="width: 10em"></th>
            </tr>
        </thead>
        <tbody>
            <f:for each="{tasks}" as="task">
                <tr>
                    <td>
                        {task.crdate -> f:format.date(format: 'l d. M Y H:i:s')}
                    </td>
                    <td style="text-align: right">
                        {task.status}<br />
                        <f:if condition="{task.status} == 'new'">
                            {video:progress(file: task.file_uid, configurations: '{0: task.configuration}') -> f:format.raw()}
                        </f:if>
                    </td>
                    <td>
                        {task.file_identifier}
                    </td>
                    <td>
                        <dl class="dl-horizontal" style="margin: 0">
                            <f:for each="{task.configuration}" as="configuration" key="key">
                                <dt>{key}</dt>
                                <dd>{configuration -> f:format.json()}</dd>
                            </f:for>
                        </dl>
                    </td>
                    <td>
                        <a href="#" class="btn btn-default" title="Info"
                           onclick="top.TYPO3.InfoWindow.showItem('_FILE', {task.file_combi_ident -> f:format.json()});return false;">
                            <c:icon identifier="actions-document-info" />
                        </a>
                    </td>
                </tr>
            </f:for>
        </tbody>
    </table>
</f:section>

</html>
